#location-hero {
  padding: 0;
  @include bg;
  //background-image: url(../img/location-hero-placeholder.jpg);
  z-index: 1;
  overflow: hidden;
}

#location-map {
  position: fixed;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  z-index: 1;
}

#location-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: $secondary;
  mix-blend-mode: multiply;
  z-index: 2;
}

#location-hero-content {
  position: relative;
  padding: 160px 0 100px 0;
  z-index: 3;
}

#location-content {
  position: relative;
  z-index: 4;
}

#location-data {
  position: relative;
  padding-top: 80px;
  background: $white;
  background: -moz-linear-gradient(top, $gray-200 0%, $white 15%);
  background: -webkit-linear-gradient(top, $gray-200 0%, $white 15%);
  background: linear-gradient(to bottom, $gray-200 0%, $white 15%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef0f5', endColorstr='#ffffff',GradientType=0 );
}

#location-tag-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s;
}

#location-tag {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(8.3333vw - 10px);
  padding: 0 30px;
  background-color: $secondary;
  color: #fff;
  transform: rotate(90deg) translate(0%, -99.5%);
  transform-origin: 0 0;
  color: $white;
  
  .tag-icon {
    display: block;
    transform-origin: 50% 50%;
    margin: auto;
    transform: rotate(-90deg);
    font-size: 2em;
  }
  
  a {
    display: block;
    margin-left: 20px;
    font-size: 1.6em;
    transform: rotate(180deg);
    color: $white;
    white-space: nowrap;
  }
}

#location-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 8.33333vw;
  padding: 10px 0;
  
  &:hover {
    text-decoration: none;
  }
}

.var-type {
  padding: 100px 0;
  background: $white;
  background: -moz-linear-gradient(top, $gray-200 0%, $white 15%);
  background: -webkit-linear-gradient(top, $gray-200 0%, $white 15%);
  background: linear-gradient(to bottom, $gray-200 0%, $white 15%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef0f5', endColorstr='#ffffff',GradientType=0 );
  
  &:first-of-type {
    background: transparent;
  }
}

.var-chart {
  position: relative;
  height: 700px;
}

//
// TOUR
//

#page-location {
  .page-tour {
    width: 400px;
  }
  
  .page-tour-content {
    max-height: 250px;
    overflow: auto;
  }
  
  .var-chart-container {
    position: relative;
    transition: background-color 0.25s;
    
    .chart-tour-trigger {
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 10;
    }
  }
  
  .var-chart {
    transition: box-shadow 0.25s, background-color 0.25s;
  }
  
  .var-btn {
//     transition: opacity 0.25s;
  }

  &.page-tour-open {
    .var-chart-container {
      background-color: #ddd;
      
      .chart-tour-trigger {
        opacity: 0;
        pointer-events: none;
        cursor: default;
      }
    }
    
    .var-chart {
      background-color: $white;
      box-shadow: 0 5px 30px transparentize($black, 0.7);
    }
    
    #location-tag-wrap,
    .var-btn {
      opacity: 0.25;
      pointer-events: none;
      cursor: default;
      
      * {
        pointer-events: none;
        cursor: default;        
      }
    }
  }
}