//
// SECTOR
//

#subsectors {
  background-color: $white;
}

#subsectors-1 {
  padding: 0;
}

#subsectors-grid {
  .query-item {
    padding: 60px 0;

    &:nth-of-type(even) {
      background-color: $light;
    }
  }
}

.subsector-preview {
  position: relative;
  padding-top: 8.33333vw;
  padding-bottom: 8.33333vw;

  .preview-content {
    position: relative;
    z-index: 2;
  }
}

//
// SUB-SECTOR
//

#case-studies {
  .section-container {
    padding-bottom: 0;
  }
}

#case-studies-1 {
  padding-bottom: 0;
}

#case-studies-grid {
  margin-bottom: 0;

  .query-item {
    padding: 0;
    background-color: $purple-dark;
  }

  .breadcrumb {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .case-study-content {
    background-color: transparentize($white, 0.1);
    padding-top: 7vw;
    padding-bottom: 7vw;

    h2 {
      font-weight: bold;
    }

    .btn {
      margin-left: 8.3333vw;

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 50px;
        right: 8.33333vw;
        margin-left: 0;
      }
    }
  }

  .case-study-related {
    .sidebar-content {
      margin-left: 10px;
      background-color: transparentize($white, 0.1);
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

#vars-grid {
  .post-preview {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

//
// NEW
//

#region-context-img,
#sector-context-img {
	min-height: 50vh;

	a {
		position: absolute;
		bottom: 3rem;
		right: 3rem;
		z-index: 2;
	}
}

// CASE STUDIES

#region-cases-grid,
#sector-cases-grid {
	.type-case-study {
		.card-bg {
      @include full-size;
      @include bg;
      opacity: 0.3;
      z-index: 1;
		}

		.card-body {
			position: relative;
			z-index: 2;
		}

		.card-footer {
			position: relative;
			z-index: 3;
		}
	}

	.card-keywords {
		h6 {
			font-size: 1.2rem;
		}

		p {
			font-size: 1.2rem;
		}
	}
}

// ANALOGOUS

.analogous-title {
	position: relative;
	z-index: 2;

	h2 {
		font-family: $font-family-base;
	}
}

.analogous-btn {
	position: relative;
	z-index: 2;
}

// RELATED

#region-related,
#sector-related {
	.subsection {
		& > .row {
			@include media-breakpoint-up(md) {
				overflow: hidden;
			}
		}
	}
}

#region-related-content,
#sector-related-content {
	position: relative;
}

#region-related-slick,
#sector-related-slick {
	height: 50vh;

	@include media-breakpoint-up(lg) {
		margin-right: -8.33333vw;
	}

	.slick-list {
		height: 100%;
	}

	.slick-track {
		height: 100%;
	}

	.slick-slide {
		position: relative;
	}

	.slide-inner {
		position: relative;
	}

	.slide-content {
		position: relative;
		z-index: 2;
	}
}

#region-related-next,
#sector-related-next {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 2rem;
	background: #f2f2f2;
	font-size: 3rem;
	cursor: pointer;

	@include media-breakpoint-up(md) {
		top: 0;
		height: 100%;
		width: 25vw;
		padding: 0;
		padding-left: 16.66667vw;
		background: linear-gradient(90deg, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 66%);
	}

	i {
		transition: 0.25s;
	}

	&:hover {
		i {
			color: $secondary;
		}
	}
}

//
// REGION
//

#region-map-container {

}

#region-map {
	min-height: 500px;
}