/* wrapper styles */
.leaflet-control-search {
	position: absolute;
	top: 72px;
	left: 16px;
	z-index: 1000;
	font-size: 14px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
/* input field styles */
.leaflet-control-search .search-input {
	padding: 5px;
	border: none;
	margin: 0;
	height: 40px;
}
/* position for the X inside of the search box */
.leaflet-control-search .search-cancel {
	right: 6px;
}
/* focus styles */
.leaflet-control-search input:focus {
	outline: none;
	border-color: var(--secondary);
	box-shadow: 0 0 5px rgba(var(--secondary));
}
