.sass-cache
topo.json
twentynineteen
twentytwenty
local_config.php
error_log
.ftpconfig
.idea
proto/
.DS_Store
*.css.map
framework/resources/css/**/*.css
fw-child/resources/css/**/*.css
framework/resources/vendor/aos/
!framework/resources/vendor/aos/dist/
framework/resources/vendor/bootstrap/
!framework/resources/vendor/bootstrap/scss/
!framework/resources/vendor/bootstrap/dist/js/bootstrap.bundle.min.js
framework/resources/vendor/font-awesome-pro/
fw-child/node_modules/
.nova/
/docker-override.yaml
/dockerfiles/mounts/*
!/dockerfiles/mounts/README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info files
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
