.sass-cache
climate-data-ca/resources/app/idf/
topo.json
twentynineteen
twentytwenty
local_config.php
error_log
.ftpconfig
.idea
proto/
.DS_Store
*.css.map
climate-data-ca/resources/css/child.css
framework/resources/css/**/*.css
fw-child/resources/css/**/*.css
framework/resources/vendor/aos/
!framework/resources/vendor/aos/dist/
framework/resources/vendor/bootstrap/
!framework/resources/vendor/bootstrap/scss/
!framework/resources/vendor/bootstrap/dist/js/bootstrap.bundle.min.js
framework/resources/vendor/font-awesome-pro/
fw-child/node_modules/
.nova/
/docker-override.yaml
/dockerfiles/mounts/*
!/dockerfiles/mounts/README.md
