.type-big_list {
  ul {
    font-size: 2em;
    color: $secondary;
    
    li {
      margin-bottom: 0.8em;
      
      span {
        color: $white;
      }
    }
    
    &.style-numbered {
      list-style-type: decimal;
    }
    
    &.style-roman {
      list-style-type: upper-roman;
    }
    
    &.style-alpha {
      list-style-type: lower-alpha;
    }
    
    &.style-bullet {
      list-style-type: square;
    }
  }
}