.type-post_grid {
  @include make-container;
  
  &.col-12 {
    .post-grid-wrap {
      margin: 0;
      
      .query-item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.post-grid-wrap {
  margin: 0 -10px;
  
  .query-item {
    padding: 0 10px 20px 10px;
  }
}

