//
// HOME
//

#page-home {
  #features {
    h2 {
      font-size: 4rem;
      font-family: $font-family-serif;
      color: $primary;
    }

    h5 {
      @include all-caps;
    }
  }
}

//
// APP PAGES
//

.app-page {
  .control-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% / 16);
    background-color: transparentize($dark, 0.1);
    z-index: 1000;
  }
}

//
// MAP
//

#page-map {
  .tab-drawer {
    .tab-drawer {
      // width: 50vw;
    }
  }

  #data-variable {
    width: calc((100vw / 16) * 9);
  }

  .tab-drawer-container {
    &:has(#data-variable.td-selected) {
      width: calc((100vw / 16) * 9);
    }
  }

  #location-detail {
    width: calc((100vw / 16) * 7);
  }

  .tab-drawer-container {
    &:has(#location-detail.td-selected) {
      width: calc((100vw / 16) * 7);
    }
  }
}

.map-container {
  position: relative;
  z-index: 1;
}

#map-objects {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100vw + 10px);
  // margin-right: -10px;
  transition: width 0.2s ease 0s;
  z-index: 1;

  .map-panel {
    position: relative;
    // flex: auto;
    flex: 1 1 33.3333%;
    transition: 0.5s ease;
    overflow: hidden;

    // &:not(:last-child) {
    border-left: 10px solid $white;
    // }

    &.hidden {
      flex: 0.000000001 0.00000001 0%;
      border-left-width: 0px;

      .leaflet-object {
        opacity: 0;
      }
    }
  }

  .leaflet-object {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1;
  }

  .map-label {
    position: absolute;
    bottom: 10%;
    left: 50%;
    min-width: 5rem;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
  }
}

#map-control-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc((100vw / 16) * 15);
  background-color: $gray-100;
  transition: width 0.2s ease 0s;
  z-index: 2;

  .map-zoom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    background-color: $white;
    font-size: 2rem;
    line-height: 3.75rem;
  }
}

body.tab-drawer-open {
  #map-objects {
    width: calc(((100vw / 16) * 12) + 10px);
  }

  #map-control-footer {
    width: calc((100vw / 16) * 12);
    transition: width 0.2s ease 0s;
  }
}

.var-query-item {
  border-bottom: 1px solid $gray-300;

  &:not(:nth-child(3n + 3)) {
    border-right: 1px solid $gray-300;
  }

  .var-item-img {
    position: relative;
    height: 0;
    padding-bottom: 40%;
  }
}

//
// LEARN
//

//
// NEWS
//

#sort-menu {
  li {
    transition: 0.25s;
    cursor: pointer;
    color: $gray-600;
  }

  .selected {
    color: $primary;
  }
}

// SINGLE POST

.single-post {
  #hero {
    h1 {
      font-size: 3rem;
    }
  }
}
