//
// HEADER
//

#floating-header {
  background-color: transparentize($dark, 0.1);
}

#header-menu-icon {
  font-size: 1.25rem;
  color: $white;
}

#header-logo-container {
}

#header-social-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 0;
  }

  a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

#header-lang {
  .current-nav-link {
    color: $blue-200;
  }
}

.nav-item-divider {
  // font-size: 0;
  text-indent: -9999px;
  width: 1px;
  background: transparentize($white, 0.6);
  cursor: default;
  pointer-events: none;
}

//
// FOOTER
//

#footer-copyright {
  font-size: 0.75rem;

  p {
    margin-bottom: 0;
  }
}

#footer-signup {
  #mc_embed_signup {
    h6 {
      display: none;
    }
  }
}

#footer-socials {
  a {
    color: $gray-600;
    text-decoration: none;

    i {
      margin-right: 0.75rem;
    }
  }
}

// Make footer sponsor logos responsive.
.footer-sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem !important;

  .fw-block-type-image {
    margin: 0 !important;

    img {
      max-height: 24px;
    }
  }
}

//
// CONTROL BAR
//

.control-bar-container {
  min-height: 100%;
  background-color: $dark;
  color: $white;
}

// .tab-drawer-content {
//   position: relative;
// }
//
// .control-bar .tab-drawer .tab-drawer-content-inner {
//   position: sticky;
//   top: 0;
//   height: auto;
// }
//
// .tab-drawer-content-inner {
// }

//
// MENU OVERLAY
//

#menu {
  a {
    color: $gray-600;
    text-decoration: none;
    transition: 0.25s;
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

#menu-header {
  p {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}

#menu-primary {
  @include font-size(1.5rem);

  a {
    &:hover,
    &.active {
      color: $secondary;
      background-color: $white;
    }
  }

  li:nth-of-type(3) {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid $gray-300;
  }
}

#menu-secondary {
  a {
    &:hover {
      color: $secondary;
    }
  }
}

#menu-langs {
  .current-nav-link {
    color: $primary;
  }
}

// VARIABLES

#menu-td-container {
  z-index: 2000;
}

#browse-vars {
  width: 25vw;
  height: 100%;
  min-height: 100vh;

  .btn {
    &:hover {
      color: $white;
    }
  }

  .tab-drawer-content {
    height: 100%;
  }

  .tab-drawer-content-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $gray-100;
  }

  li {
    transition: 0.25s;

    &:hover {
      background-color: $light;

      .var-links {
        height: 1rem;
        opacity: 1;

        a {
          transform: translateY(0);
        }
      }
    }
  }

  .var-title {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;

    a {
      &:hover {
        color: $secondary;
      }
    }
  }

  .var-links {
    height: 0;
    overflow: hidden;
    @include all-caps;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: $font-weight-medium;
    opacity: 0;
    transition: 0.25s;

    a {
      color: $secondary;
      transform: translateY(-100%);

      &:not(:first-child) {
        &:before {
          content: '•';
          margin: 0 0.375em;
          color: $body-color;
        }
      }
    }
  }
}

#popular-vars {
  padding-bottom: 1rem;
  transition: 0.25s;

  &:hover {
    padding-bottom: 0;
  }
}

//
// PAGE TOUR
//

.page-tour {
  width: 400px;
}

.page-tour-footer {
  border-top: 1px solid $gray-400;
  font-size: 0.75rem;

  .page-tour-dots {
    margin-right: 1rem;
  }

  .page-tour-dontshow {
    display: none;
  }
}
