//
// Legacy code from climate-data-ca theme.
// Essential for making old GSAP Training Resource work.
//
// TRAINING PAGE
//

#training-filter {
  &.is_stuck {
    z-index: 10;
  }
}

.training-asset {
  transition: 0.25s;

  .bg,
  .card-body,
  .card-footer {
    transition: 0.25s;
  }

  .bg {
    opacity: 0.5;
  }

  .card-body {
    position: relative;
    min-height: 300px;
    z-index: 2;
  }

  .card-footer {
    position: relative;
    z-index: 3;

    h6 {
      font-size: 1.2rem;
    }
  }

  &:hover {
    .bg {
      opacity: 0.6;
    }

    .card-title {
      text-decoration: underline;
    }
  }

  &.disabled {
    opacity: 0.75;
    cursor: not-allowed;
    pointer-events: none;

    * {
      pointer-events: none;
    }

    .bg,
    .card-body,
    .card-footer {
      opacity: 0.1;
    }

    .card-overlay {
      display: none;
    }
  }

}

//
// SINGLE RESOURCE
//

.single-resource {
  #hero {
    z-index: 2;

    .section-container {
      padding-top: 160px;
    }
  }

  #hero-asset-type-video {
    h1 {
      font-size: 4em;
    }
  }
  
  #asset-audio {
    margin-bottom: -220px;
  }

  #asset-video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: -220px;
    background-color: $black;

    iframe {
      @include full-size;
    }
  }

  .asset-time {
    h6 {
      font-size: 1.2rem;
    }

    .rounded-pill {
      font-size: 1.4rem;
    }

    &.summary-time {
      margin-bottom: 8em;
    }
  }

  .page-section {
    &:before {
      content: '';
      display: block;
      position: relative;
      width: 33.3333%;
      height: 10px;
      background-color: $primary;
      z-index: 2;
    }

    &.first-section {
      &:before {
        display: none;
      }
    }
  }

  #resource-summary {
    z-index: 1;

    .section-container {
      padding-top: 120px;
    }
  }

  .pin-spacer {
    h2 {
      font-family: $font-family-serif;
      font-size: 3.125rem;
    }

    h3 {
      font-family: $font-family-serif;
      font-size: 2.5rem;
    }

    img {
      width: revert-layer;
    }
  }

  .interactive-section {
    h4 {
      font-size: 1.875rem;
      margin-bottom: 1.5rem;
    }
  }
}


//
// TIMELINE
//

#timeline-overlay {
	@include full-size(fixed);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparentize($black, 0.2);
	text-align: center;
	color: $white;
	z-index: 5000;

	a {
		display: block;
		margin-bottom: 2rem;
	}

	img {
		max-width: 60px;
	}
}

@media ( max-width: 750px ) and ( max-aspect-ratio: 1/1 ) {
	body.has-timeline {
		overflow: hidden;
	}

	#timeline-overlay {
		display: flex;
	}
}

@media ( max-width: 750px ) {

	#timeline {
		position: relative;
		z-index: 1100;
	}

}

#timeline {

  .tl-container {
  	position: relative;
		min-height: 100vh;
  	overflow: hidden;
  }

  .tl-section {
    h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.5em;
		}

    &.headings-primary {
      h1, h2, h3, h4, h5, h6 {
        color: $primary;
      }
    }

    &.headings-secondary {
      h1, h2, h3, h4, h5, h6 {
        color: $secondary;
      }
    }

    &.headings-white {
      h1, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }

    &.headings-dark {
      h1, h2, h3, h4, h5, h6 {
        color: $dark;
      }
    }

    &.links-primary {
      a {
        color: $primary;
      }
    }

    &.links-secondary {
      a {
        color: $secondary;
      }
    }

    &.links-white {
      a {
        color: $white;
      }
    }

    &.links-dark {
      a {
        color: $dark;
      }
    }
  }

  .element {
  	position: absolute;
  }

	.type-img {
		// overflow: hidden;

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
		}
	}

  .type-video {
  	@include full-size;
  	overflow: hidden;

  	video {
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		width: calc(100% * 16 / 9);
  		height: 100%;
  		max-width: none;
  		max-height: none;
  		transform: translate(-50%, -50%);
  	}
  }

  @media (min-aspect-ratio: 16/9) {
  	.type-video {
  		video {
  			width: 100%;
  			height: auto;//calc(100% / 16 * 9);
  		}
  	}
  }

  @media (max-width: 767px) {
  	.type-video {
    	video {
    		display: none;
      }
  	}
  }

	@media (min-width: 850px) {
		.anchor-top {
			margin-top: 65px;
		}

		.anchor-bottom {
			margin-bottom: -65px;
		}
	}

	@media (min-width: 1000px) {
		.anchor-top {
			margin-top: 90px;
		}

		.anchor-bottom {
			margin-bottom: -90px;
		}
	}

	@media (min-width: 1200px) {
		.anchor-top {
			margin-top: 120px;
		}

		.anchor-bottom {
			margin-bottom: -120px;
		}
	}

  [data-position-z="1"] { z-index: 1; }
  [data-position-z="2"] { z-index: 2; }
  [data-position-z="3"] { z-index: 3; }
  [data-position-z="4"] { z-index: 4; }
  [data-position-z="5"] { z-index: 5; }
  [data-position-z="6"] { z-index: 6; }
  [data-position-z="7"] { z-index: 7; }
  [data-position-z="8"] { z-index: 8; }
  [data-position-z="9"] { z-index: 9; }
  [data-position-z="10"] { z-index: 10; }

  [data-size-x="auto"] { max-width: 50%; }
  [data-size-x="25"] { width: 25% !important; }
  [data-size-x="33"] { width: 33% !important; }
  [data-size-x="50"] { width: 50% !important; }
  [data-size-x="66"] { width: 66% !important; }
  [data-size-x="75"] { width: 75% !important; }
  [data-size-x="100"] { width: 100% !important; }

  [data-size-y="25"] { height: 25% !important; }
  [data-size-y="50"] { height: 50% !important; }
  [data-size-y="75"] { height: 75% !important; }
  [data-size-y="100"] {
		height: 100%;
	}

  [data-size-x="100"][data-size-y="100"] {
  	left: 0;
  	top: 0;
  }

  [data-size-x="50"][data-position-x="center"] {
  	left: 25%;
  }

  [data-size-x="25"][data-position-x="center"] {
  	left: 37.5%;
  }

  [data-size-x="75"][data-position-x="center"] {
  	left: 12.5%;
  }
}

@media ( max-width: 1000px ) {

	#timeline {
		h1 { font-size: 5em; }
		h2 { font-size: 4.4em; }
		h3 { font-size: 2.8em; }
		h4 { font-size: 2.2em; }
		h5 { font-size: 1.6em; }
		h6 { font-size: 1.2em; }
		p { font-size: 1.2em; }
	}

}

@media ( max-width: 850px ) {

	#timeline {
		h1 { font-size: 3.8em; }
		h2 { font-size: 3.4em; }
		h3 { font-size: 2.6em; }
		h4 { font-size: 2em; }
		h5 { font-size: 1.4em; }
		h6 { font-size: 1.1em; }
		p { font-size: 1.1em; }
	}

}

@media ( max-width: 750px ) {

	#timeline {
		h1 { font-size: 3em; }
		h2 { font-size: 2.4em; }
		h3 { font-size: 2em; }
		h4 { font-size: 1.6em; }
		h5 { font-size: 1.3em; }
		h6 { font-size: 1em; }
		p { font-size: 1em; }
	}

}

// basic accordion block

.accordion-block-header {
	cursor: pointer;

	.accordion-block-icon {
		flex: 0 0 3rem;
	}

	i {
		font-size: 0.75em;
		color: $body-color;
		transition: 0.25s;
	}

	&.open {
		i {
			transform: rotate(180deg);
		}
	}
}

.accordion-block-body {
	padding-left: 3rem;
}
