@import '../../../framework/resources/scss/variables-global';

//
// REBOOT
//

// use child theme's _variables.scss to recompile bootstrap

@import 'reboot-bootstrap';

// override fw variables

$utilities: (
  'bg-opacity': (
    css-var: true,
    class: bg-opacity,
    values: (
      10: 0.1,
      20: 0.2,
      25: 0.25,
      30: 0.3,
      40: 0.4,
      50: 0.5,
      60: 0.6,
      70: 0.7,
      75: 0.75,
      80: 0.8,
      90: 0.9,
      100: 1,
    ),
  ),
);

// use these variables to recompile fw

@import 'reboot-fw';

//
// MIXINS
//

//
// VARIABLES
//

//
// FONTS
//

@font-face {
  font-family: 'CDCSerif';
  font-weight: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  -ms-font-variant-ligatures: no-common-ligatures;
  -moz-font-variant-ligatures: no-common-ligatures;
  -o-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  src: url('../fonts/CDCSerif-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CDCSerif';
  font-weight: bold;
  -webkit-font-variant-ligatures: no-common-ligatures;
  -ms-font-variant-ligatures: no-common-ligatures;
  -moz-font-variant-ligatures: no-common-ligatures;
  -o-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  src: url('../fonts/CDCSerif-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CDCSans-Light.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CDCSans-Book.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CDCSans-SemiBold.woff2');
  font-weight: 600;
}

//
// TAGS
//

h1 {
  font-family: $font-family-serif;
}

//
// CLASSES
//

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include full-size;
}

.font-family-serif {
  font-family: $font-family-serif;
}

.font-weight-normal {
  font-weight: normal;
}

.circle-number {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  background-color: $white;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  font-family: $font-family-serif;
  font-weight: bold;
  color: $secondary;
}

// control bar icons

.tab-drawer-trigger {
  &.active {
    // data
    #back-side {
      fill: $gray-600;
    }

    #front-face {
      fill: $primary;
    }

    // location
    #frame {
      fill: $gray-600;
    }

    #spots {
      fill: $primary;
    }

    // display
    #wells-left {
      fill: $gray-600;
    }

    #handles {
      fill: $primary;
    }

    // download
    #dl2 {
      fill: #9ca5b7;
    }

    #dl3 {
      fill: $gray-600;
    }

    #box {
      fill: $primary;
    }

    // topic
    #folder {
      fill: $gray-600;
    }

    #file {
      fill: $primary;
    }
  }
}

//
// STRUCTURE
//

#hero {
  h1 {
    @include font-size(5rem);
    font-weight: bold;
  }
}

//
// COMMON
//

// BREADCRUMB

// CONTROL BAR

.control-bar {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: transparentize($dark, 0.1);
  z-index: 10;

  .tab-drawer-container {
    box-shadow: 0 0 0 transparentize($black, 0.8);
    transition: box-shadow 0.25s ease 0.25s;
    z-index: -1;

    &:has(.tab-drawer.td-selected) {
      width: calc((100vw / 16) * 3);
      box-shadow: 0 0 20px transparentize($black, 0.8);
    }
  }

  .tab-drawer-tabs {
    padding-left: 0.5rem;

    a {
      display: block;
      padding: 0.5rem;
      color: $white;
      font-size: 0.75rem;
      text-decoration: none;
      text-align: center;

      &.active {
        background-color: $gray-100;
        color: $dark;
      }
    }

    .tab-drawer-trigger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        display: block;
      }

      .cdc-icon {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }

      svg {
        max-width: 30px;
      }
    }
  }

  .tab-drawer {
    width: calc((100vw / 16) * 3);
    height: 100%;
    min-height: 100vh;

    .tab-drawer-content {
      height: 100%;
    }

    .tab-drawer-content-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: $gray-100;
    }

    .control-tab-head {
      padding: 1rem;
      background-color: $gray-200;
    }

    .control-tab-body {
      flex-grow: 1;
      overflow: auto;
      // padding: 1rem;
    }

    .tab-drawer {
      .control-tab-head {
        background-color: $gray-100;
      }

      .tab-drawer-content-inner {
        background-color: $white;
      }
    }
  }
}

.map-control-item {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $gray-300;
}

.tab-drawer-bumper {
  transition: margin-left 0.25s ease;
}

.tab-drawer-open {
  .tab-drawer-bumper {
    margin-left: 18.75vw;
  }
}

.filter-item.selected {
  color: $primary;
}

//
// JQUERY UI COMPONENTS
//

.ui-widget {
  font-family: $font-family-sans-serif;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-radius: 0;
}

// decade slider

$decade-slider-handle-width: 140px;

#decade-slider {
  position: relative;
  width: 100%;
  height: 6px;
  margin: 0 $decade-slider-handle-width * 0.5;
  border: none;
  background-color: $gray-400;
}

#decade-slider-handle {
  top: -1.125rem;
  width: $decade-slider-handle-width;
  height: 2.625rem;
  margin-left: $decade-slider-handle-width * -0.5;
  background-color: $white;
  text-align: center;
  border: none;
  box-shadow: 0 0.125rem 0.875rem transparentize($black, 0.85);
  outline: none;

  &.ui-state-active {
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 0px;
    border: 10px solid transparent;
    border-width: 1.1875rem 0.5rem;
  }

  &:before {
    left: -1rem;
    border-right-color: $white;
  }

  &:after {
    right: -1rem;
    border-left-color: $white;
  }

  span {
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: $primary;
    color: $white;
    font-size: 1.125rem;
    line-height: calc(2.625rem - 4px);
    font-weight: 500;
    z-index: 2;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 0px;
      border: 10px solid transparent;
      border-width: 1.1875rem 0.5rem;
    }

    &:before {
      left: -1rem;
      border-right-color: $primary;
    }

    &:after {
      right: -1rem;
      border-left-color: $primary;
    }
  }
}

//
// BOOTSTRAP COMPONENTS
//

.card-img {
  height: 0;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  transition: 0.25s;
}

$query-card-hover-padding: 0.75rem;

.query-page {
  .fw-query-item {
    transition: 0.25s;

    .card {
      height: 100%;
      transition: 0.25s;
    }

    .card-body {
      transition: 0.25s;
    }

    .card-title {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      .card {
        height: calc(100% + ($query-card-hover-padding * 2));
        margin-top: $query-card-hover-padding * -1;
        margin-left: $query-card-hover-padding * -1;
        margin-right: $query-card-hover-padding * -1;
        box-shadow: 0 0.25rem 1.5rem transparentize($black, 0.9);
      }

      .card-img {
        opacity: 0.4;
      }

      .card-body {
        margin-left: $query-card-hover-padding;
        margin-right: $query-card-hover-padding;
      }
    }
  }
}

// ACCORDION

.accordion-button {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .p,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 0;
  }
}

//
// CONTENT TYPES
//

//
// TEMPLATE
//

@import 'template';

//
// PAGES
//

@import 'pages';

//
// VENDOR
//

@import 'vendor';
