@import '../../../framework/resources/scss/variables-global';

//
// REBOOT
//

// use child theme's _variables.scss to recompile bootstrap

@import 'reboot-bootstrap';

// override fw variables

$utilities: (
  'bg-opacity': (
    css-var: true,
    class: bg-opacity,
    values: (
      10: 0.1,
      20: 0.2,
      25: 0.25,
      30: 0.3,
      40: 0.4,
      50: 0.5,
      60: 0.6,
      70: 0.7,
      75: 0.75,
      80: 0.8,
      90: 0.9,
      100: 1,
    ),
  ),
);

// use these variables to recompile fw

@import 'reboot-fw';

//
// MIXINS
//

//
// VARIABLES
//

//
// FONTS
//

//
// TAGS
//

//
// CLASSES
//

//
// STRUCTURE
//

//
// COMMON
//

.control-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% / 16);
  min-height: 100vh;
  background-color: transparentize($dark, 0.1);
  z-index: 1000;

  .tab-drawer-container {
    box-shadow: 0 0 0 transparentize($black, 0.8);
    transition: box-shadow 0.25s ease 0.25s;
    z-index: -1;

    &:has(.tab-drawer.selected) {
      width: calc((100vw / 16) * 3);
      box-shadow: 0 0 20px transparentize($black, 0.8);
    }
  }

  .tab-drawer-tabs {
    a {
      display: block;
      padding: 0.5rem;

      &.active {
        background-color: $white;
      }
    }
  }

  .tab-drawer {
    width: calc((100vw / 16) * 3);
    min-height: 100vh;

    .tab-drawer-content-inner {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: $gray-100;
    }

    .control-tab-head {
      padding: 1rem;
      background-color: $gray-200;
    }

    .control-tab-body {
      flex-grow: 1;
      overflow: auto;
      padding: 1rem;
    }

    .tab-drawer {
      .control-tab-head {
        background-color: $gray-100;
      }

      .tab-drawer-content-inner {
        background-color: $white;
      }
    }
  }
}

//
// BOOTSTRAP COMPONENTS
//

//
// CONTENT TYPES
//

//
// TEMPLATE
//

@import 'template';

//
// PAGES
//

@import 'pages';

//
// VENDOR
//

@import 'vendor';
