.chart-navbar {
  .nav-item {
    h6 {
      margin: 0;
      padding-right: $btn-padding-x;
      font-size: 1.2em;
      line-height: $btn-line-height;
      text-transform: uppercase;
    }
    
    .cdc-icon {
      margin-right: 5px;
      font-size: 1.5em;
      color: $gray-600;
    }
    
    a {
      font-size: 1.2em;
    }
  }
}

.overlay-content-chart {
  @include nested-column(9, 9);
}

.highcharts-data-table {
  @include make-col-ready();
  @include make-col(8);
  @include make-col-offset(2);
  order: 3;
}