@font-face {
  font-family: 'CDCSerif';
  font-weight: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  -ms-font-variant-ligatures: no-common-ligatures;
  -moz-font-variant-ligatures: no-common-ligatures;
  -o-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  src: url("../fonts/e6a69826d66d66e6396e8b4a2661abcd.eot");
  src: url("../fonts/e6a69826d66d66e6396e8b4a2661abcd.eot?#iefix") format("embedded-opentype"),
       url("../fonts/e6a69826d66d66e6396e8b4a2661abcd.woff2") format("woff2"),
       url("../fonts/e6a69826d66d66e6396e8b4a2661abcd.woff") format("woff"),
       url("../fonts/e6a69826d66d66e6396e8b4a2661abcd.ttf") format("truetype");
}

@font-face {
  font-family: 'CDCSerif';
  font-weight: bold;
  -webkit-font-variant-ligatures: no-common-ligatures;
  -ms-font-variant-ligatures: no-common-ligatures;
  -moz-font-variant-ligatures: no-common-ligatures;
  -o-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  src: url("../fonts/f8a94615035397d480d1582a2f5509eb.eot");
  src: url("../fonts/f8a94615035397d480d1582a2f5509eb.eot?#iefix") format("embedded-opentype"),
       url("../fonts/f8a94615035397d480d1582a2f5509eb.woff2") format("woff2"),
       url("../fonts/f8a94615035397d480d1582a2f5509eb.woff") format("woff"),
       url("../fonts/f8a94615035397d480d1582a2f5509eb.ttf") format("truetype");
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CerebriSans-Light.eot');
  src: url('../fonts/CerebriSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CerebriSans-Book.eot');
  src: url('../fonts/CerebriSans-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CDCSans';
  src: url('../fonts/CerebriSans-SemiBold.eot');
  src: url('../fonts/CerebriSans-SemiBold.ttf');
  font-weight: 600;
}

$icomoon-font-family: 'CDCicons';
$icomoon-font-path: '../fonts';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?e2j9on');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?e2j9on#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?e2j9on') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?e2j9on') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?e2j9on##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cdc-icon {
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-location: "\e900";
$icon-variable: "\e901";
$icon-var-other: "\e902";
$icon-var-precipitation: "\e903";
$icon-var-temperature: "\e904";
$icon-download-data: "\e905";
$icon-download-img: "\e906";

$icons: (
	'location': $icon-location,
	'variable': $icon-variable,
	'var-other': $icon-var-other,
	'var-precipitation': $icon-var-precipitation,
	'var-temperature': $icon-var-temperature,
	'download-data': $icon-download-data,
	'download-img': $icon-download-img
);
        
@each $icon, $i in $icons {
  
  .icon-#{$icon} {
    &:before {
      content: $i;
    }
  }
  
}