//
// FRAMEWORKS
//

  // BOURBON / NEAT / BITTERS  
    
  //@import 'frameworks/bourbon';
  
  // BOOTSTRAP
  
  @import 'frameworks/bootstrap-setup';
  @import 'frameworks/bootstrap';

//
// MIXINS
//

  @import 'helpers/mixins';

//
// LAYOUT HELPERS
//

// NESTED COLUMNS

/*
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
*/

// standard widths

@for $z from 3 through 11 {
  
  $current-max: $z - 1;
  
  @for $y from 1 through $current-max {
  
    .col-#{$y}-of-#{$z} { @include nested-column($y, $z) }
    .offset-#{$y}-of-#{$z} { @include nested-offset($y, $z) }
    
  }
  
}

// breakpoints

$grid-breakpoints: 'sm', 'md', 'lg', 'xl';
$grid-breakpoint-sizes: 576, 768, 992, 1200;

@for $i from 1 through length($grid-breakpoints) {
  
  $current-breakpoint: nth($grid-breakpoints, $i);
  $current-breakpoint-size: nth($grid-breakpoint-sizes, $i);
  
  @media (min-width: #{$current-breakpoint-size}px) {
  
    @for $z from 3 through 11 {
      
      $current-max: $z - 1;
      
      @for $y from 0 through $current-max {
      
        .col-#{$current-breakpoint}-#{$y}-of-#{$z} { @include nested-column($y, $z) }
        .offset-#{$current-breakpoint}-#{$y}-of-#{$z} { @include nested-offset($y, $z) }
        
      }
      
    }
  
  }
  
}