@import "../../../h7-parent/resources/scss/helpers/mixins";
@import "../../../h7-parent/resources/scss/frameworks/bootstrap-setup";

$fa-font-path: "../../../h7-parent/resources/vendor/fontawesome/webfonts/";

@import '../../../h7-parent/resources/vendor/fontawesome/scss/fontawesome';
@import '../../../h7-parent/resources/vendor/fontawesome/scss/solid';

//
// TAGS
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  -webkit-font-variant-ligatures: no-common-ligatures;
  -ms-font-variant-ligatures: no-common-ligatures;
  -moz-font-variant-ligatures: no-common-ligatures;
  -o-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
}

//
// CLASSES
//

.bg-purple {
  background-color: $purple-dark;
}

.cdc-icon {
  margin-right: 15px;
  vertical-align: middle;
}

.spinner {
  background-color: transparentize($white, 0.2);

  &:after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    background-color: $white;
    background-image: url(../img/spinner.gif);
    box-shadow: 0 5px 25px transparentize($black, 0.8);
  }
}

.vertical-label {
  width: 100%;
  margin: 0;
  overflow: visible;
  font-size: 1.2rem;
  @include all-caps;
  text-align: center;

  span {
    display: block;
    transform: rotate(-90deg);
  }
}

// BOOTSTRAP

// breadcrumb

.breadcrumb {
  font-size: 1.8em;
  font-weight: 500;
}

.breadcrumb-item {
  color: $purple-light2;

  a {
    color: $purple-light2;
  }

  + .breadcrumb-item {
    &::before {
      width: 6px;
      padding-right: 0;
      margin-right: 10px;
      color: $purple-light2;
    }
  }
}

// cards

.card {
  .card-overlay {
    @include full-size;
    z-index: 10;
  }
}

// text colours

.text-slate1 {
  color: $slate1;
}

.text-slate2 {
  color: $slate2;
}

//
// TEMPLATE
//

#main-header-nav {
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

#header-primary {
  background-color: transparentize($black, 0.3);
  transition: background-color 0.4s;
  font-size: 1.4em;

  // logo

  .logo {
    position: relative;

    a {
      display: block;
      position: absolute;
      padding-top: 10px;
      z-index: 1035;
    }

    img {
      width: 90px;
    }
  }

  .nav-item {
    a {
      color: $white;
      white-space: nowrap;
    }
  }

  .primary-nav {
    font-size: 1em;

    .nav-item {
      margin-right: 12px;
    }

    .divider {
      width: 1px;
      height: 100%;
      margin-right: 8px;
      border-left: 1px solid transparentize($secondary, 0.5);
      text-indent: -9999px;
    }
  }

  .code {
    pointer-events: none;
  }

  .secondary-nav {
    font-size: 1em;

    .nav-item {
      .btn {
        padding-left: 1em;
        padding-right: 1em;
      }

      &:last-of-type {
        margin-left: 20px;
      }
    }
  }

  .lang-switcher {
    @include all-caps;

    a {
      display: block;
      margin: 0 10px;
      color: $text-muted;

      &.current-lang {
        color: $secondary;
        font-weight: bold;
      }
    }
  }
}

body {
  &.has-alert {
    #header-primary {
      background-color: transparentize($black, 0.7);

      @include media-breakpoint-down(lg) {
        background-color: transparentize($black, 0.2);
      }

      .logo {
        a {
          top: calc(-50% - 15px);

          @include media-breakpoint-down(lg) {
            top: 0;
          }
        }
      }
    }

    &.header-open {
      #header-primary {
        .logo {
          a {
            @include media-breakpoint-down(lg) {
              top: 0;
            }
          }
        }
      }
    }

    &.header-stuck {
      #header-primary {
        background-color: transparentize($black, 0.3);
      }
    }

    &.alert-closing,
    &.alert-closed {
      #header-primary {
        background-color: transparentize($black, 0.3);

        .logo {
          a {
            top: 0;
            transition: top 0.4s;
          }
        }
      }
    }
  }

  &.supermenu-open {
    #header-primary {
      background-color: $white !important;

      .nav-item {
        a {
          color: $dark;

          &.supermenu-active {
            color: $secondary;
          }
        }

      }
    }
  }
}

// FOOTER

#main-footer {
  color: $white;

  a {
    color: $white;
  }

  .footer-menu {
    list-style: none;
  }

  .copyright {
    p {
      margin: 0 0 0.8em 0;
      font-size: 1.2em;
    }
  }
}

#footer-primary {
  .logo {
    img {
      margin: auto;
    }
  }
}

#footer-logos {
  margin-top: 60px;

  .logo {
    a {
      display: block;
    }

    img {
      max-width: 100px;
      margin: auto;
    }

    &.wide {
      img {
        max-width: 80%;
      }
    }
  }

  .text {

  }
}

//
// STRUCTURE
//

#hero {
  .breadcrumb-item {
    color: $purple-light2;

    a {
      color: $purple-light2;
    }
  }

  .next-section {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;

    i {
      line-height: 50px;
    }
  }
}

//
// HOME
//

#page-home {
  #hero {

    .section-container {
      min-height: 100vh;
      padding: 60px 0 0 0;
      display: flex;
      align-items: center;
    }
  }
}

#mc_embed_signup {
	@include media-breakpoint-up(lg) {
		width: 80%;
	}
}

#home-logos {
  background-color: $white;

  @include media-breakpoint-up(md) {
    padding: 0 100px;
  }

  .section-container {
    padding: 10px 0;
  }

  .subsection {
    padding: 0;

    & > .row {
      align-items: center;
    }
  }

  .block {
    margin-bottom: 0;
  }

  .image {
    margin-bottom: 0 !important;
  }

  h4 {
    display: none;
  }
}

#home-resources-carousel {
  overflow: hidden;
}

// placeholders

#page-home {
  #hero {
    #home-video {
      @include full-size;
      overflow: hidden;
      z-index: 2;

      video {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        max-width: 9999px;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      #home-video-overlay {
        @include full-size;
        background-color: transparentize($black, 0.6);
        z-index: 2;
      }
    }


  }

  .object-placeholder {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: transparent;
    text-indent: -9999px;
  }
}

#home-features-1-3,
#home-features-3-3 {
  @include media-breakpoint-up(lg) {
    margin-top: -160px;
  }
}

//
// PAGES
//

// LOCATION

@import 'pages/location';

// VARIABLE

@import 'pages/variable';

// SECTORS

@import 'pages/sectors';

// DOWNLOAD

@import 'pages/download';

// ANALYZE

@import 'pages/analyze';

// CASE STUDY

@import 'pages/case-study';

// TRAINING

@import 'pages/training';

#training-video-overlay {
  .overlay-title {

  }
}

// ARCHIVE

#archive-filter-wrap {
  .navbar-toggler {
    font-size: 1.2em;

    i {
      margin-right: 10px;
    }
  }
}

.pagination {
  padding: 60px 0;

  a,
  span {
    display: inline-block;
    padding: 10px 14px;
  }
}

// NEWS



// SINGLE

.single {
	#hero {
		#post-share-wrap {

			.social-widget-wrap {
				.social-trigger {
					display: none;
				}

				.social-widget {
					display: flex;
					flex-wrap: wrap;
					font-size: 1.4rem;
					position: static;
					width: auto;
					padding: 0;
					background-color: transparent;
					opacity: 1;

					li {
						margin: 0;
						margin-right: 2rem;
					}
				}
			}

		}
	}
}

// GLOSSARY

#glossary-listnav-nav {

  .ln-letters {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.6em;

    a {
      float: none;
      border: none;
      transition: 0.25s;

      &:hover {
        background-color: $gray-400;
      }

      &.ln-selected {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

#glossary-listnav {
  margin: 0;
  padding: 0;

  .dt {
    clear: both;
    border-top: 1px solid $gray-400;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 10px;
    font-weight: bold;
  }

  .dd {
    border-top: 1px solid $gray-400;
    padding-top: 10px;
    padding-bottom: 6px;

    p {
      font-size: 1em;
      margin-bottom: 8px;
    }
  }
}

//
// BLOCKS
//

@import 'blocks/object';
@import 'blocks/testimonial';
@import 'blocks/video';
@import 'blocks/chart';

.testimonial-person {
  color: $blue-light2;

  strong {
    color: $body-color;
  }
}

.post-carousel-wrap {
  margin-left: -10px;

  .query-item {
    padding: 0 10px;
  }
}

.post-grid-wrap {
  .post-preview {
    &.type-resource {
      &:hover {
        .card {
          //box-shadow: 0 10px 60px transparentize($dark, 0.75);
        }
      }
    }
  }
}

.post-preview {
  .card {
    .card-overlay {
      @include full-size;
      display: none;
      z-index: 10;
    }
  }

  .card-date {
    font-size: 1.1em;
    @include all-caps;
  }

  &.type-case-study-related {
    .card {
      overflow: hidden;
      background-color: transparent;
      border: none;
      box-shadow: 0 10px 60px transparentize($dark, 1);
      transition: box-shadow 0.4s;
    }

    .card-bg {
      height: 0%;
      padding-bottom: 100%;
      border: 15px solid $gray-200;
      border-radius: 8px 8px 0 0;
      @include bg;
      background-color: $dark;
      border-width: 24px 12px 0 12px;
      box-shadow: 0 10px 40px transparentize($black, 0.5), 0 1px 2px transparentize($black, 0.75) inset;
      transition: box-shadow 0.4s;
      z-index: 1;
    }

    .card-body {
      padding: 10% 14% 0 14%;
    }

    .card-label {
      position: absolute;
      left: 20px;
      top: 50%;
      width: auto;
      margin: 0;
      transform: translateX(-50%);
    }

    .btn {
      position: absolute;
      bottom: 50px;
      left: 50%;
      background-color: transparentize($white, 0.5);
      transform: translateX(-50%);
      z-index: 5;
    }

    .card-overlay {
      display: block;
    }

    &:hover {
      .card-bg {
        box-shadow: 0 15px 20px transparentize($black, 0.4), 0 1px 2px transparentize($black, 0.7) inset;
      }
    }
  }

  &.type-resource {
    height: 380px;

    .card {
      overflow: hidden;
      border: none;
      //box-shadow: 0 10px 60px transparentize($dark, 1);
      transition: box-shadow 0.4s;

      &.bg-light {
        h5 {
          color: $primary;
        }

        .card-bg {
          opacity: 0.1;
        }
      }

      &.bg-dark {
        .card-title {
          a {
            color: $white;
          }
        }
      }
    }

    .btn {
/*
      position: absolute;
      bottom: 20px;
      left: 50%;
      padding: 0.5em 1.5em;
      background-color: transparentize($primary, 0.25);
      transform: translateX(-50%);
*/
      @include all-caps;
      z-index: 4;
    }

    .card-title {
      font-size: 2.4rem;
    }

    .card-body {
      position: relative;
      z-index: 2;

      p {
        font-size: 1.6rem;
      }
    }

    .card-thumb {
      position: relative;
    }

    .card-label {
      display: none;
    }

    .card-footer {
      position: relative;
      background-color: transparent;
      z-index: 4;

      h6 {
        font-size: 1.2rem;
      }
    }

    .card-bg {
      @include full-size;
      @include bg;
      opacity: 0.3;
      z-index: 1;
    }

/*
    .card-bg {
      position: relative;
      @include bg;
      height: 0;
      border: 15px solid $gray-200;
      border-radius: 8px;
      background-color: $dark;
      box-shadow: 0 10px 40px transparentize($black, 0.5), 0 1px 2px transparentize($black, 0.75) inset;
      transition: box-shadow 0.4s;
      z-index: 1;
    }
*/

    .bg-1 {
      .card-bg {
        margin: 0 3%;
        padding-bottom: 55%;
        border-width: 12px;
        border-radius: 8px 8px 0 0;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -20px;
          left: -8%;
          width: 116%;
          border-bottom: 10px solid lighten($gray-200, 2%);
          border-radius: 2px 2px 15px 15px;
        }
      }
    }

    .bg-2 {
      .card-bg {
        margin: 0 8%;
        padding-bottom: 100%;
        border-width: 24px 12px;
      }
    }

    .bg-3 {
      .card-bg {
        margin: 0 -4%;
        padding-bottom: 66%;
        border-width: 12px 20px;
      }
    }

    &:hover {
      .card-bg {
        box-shadow: 0 15px 20px transparentize($black, 0.4), 0 1px 2px transparentize($black, 0.7) inset;
      }
    }
  }

	&.type-post {
		.card-author {
			font-size: 1.4rem;
		}
	}
}

#var-overlay-resource {
  .card-overlay,
  .card-label {
    display: block;
  }

  .vertical-label {
    position: absolute;
    left: 20px;
    top: 50%;
    width: auto;
    margin: 0;
    transform: translateX(-50%);
  }

  .card-body,
  .card-footer {
    padding-left: 5rem!important;
  }

  .bg-1 {
    .card-bg {
      margin: 0 8%;
      padding-bottom: 45%;
    }
  }

  .bg-2 {
    .card-bg {
      margin: 0 15%;
      //padding-bottom: 45%;
    }
  }

  .bg-3 {
    .card-bg {
      margin: 0 7%;
      padding-bottom: 55%;
    }
  }
}

.related-var-item {
  span {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
  }
}

// OVERLAY

body.overlay-open.overlay-position-top {
  #var-filter {
    display: none;
  }

  #header-primary {
    .code {
      pointer-events: all;
    }
  }
}

body.overlay-open[data-overlay-content="video"] {
  #main-header-nav {
    .overlay-close {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}

#training-video-overlay {
  .overlay-close {
    position: relative;
    top: auto;
    right: auto;
  }
}

.overlay-sidebar {
  background-color: $white;

  .sidebar-block {
    @include media-breakpoint-up(lg) {
      max-height: 50%;
    }
  }
}

.overlay-scenarios {
  form {
    padding: 40px 10px;
    background-color: transparentize($black, 0.9);
    font-size: 1.2em;

    .form-check-input {
      margin-right: 10px;
    }
  }
}

.post-carousel-next {
  background: -moz-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 90%);
  background: -webkit-linear-gradient(left, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 90%);
  background: linear-gradient(to right, rgba(242,242,242,0) 0%,rgba(242,242,242,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#f2f2f2',GradientType=1 );
  font-size: 4em;

  i {
    color: $primary;
  }
}

//
// FORMS
//

.tab {
  .alert {
    font-size: 1.4em;
  }
}

.form-layout-row {
  margin-bottom: 40px;
}

.form-label-wrap {
  margin-bottom: 0;
}

.form-label {
  margin: 0;
  font-size: 1.2em;
  line-height: 3rem;
  vertical-align: middle;
}

.form-input {
  margin-bottom: 30px;

  .form-label {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.5;
  }
}

.form-step {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  line-height: 3rem;
  vertical-align: middle;
}

.form-help {
  margin-bottom: 0;
  font-size: 1.4em;
}

// FEEDBACK

#page-feedback {
  .form-radio {
    margin-bottom: 30px;
  }
}

//
// COMPONENTS
//

// SUPERMENU

.supermenu {
  .tablet {
    position: absolute;
    left: 0;
    bottom: -40%;
    width: 20%;
    height: 135%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-image: url(../img/bg_supermenu.png);
    z-index: 2;
  }

  .supermenu-carousel {
    z-index: 1;
  }

  .supermenu-slide {
    header {
      margin-bottom: 40px;
    }

    h5 {
      margin: 0;
      @include all-caps;
    }

    h6 {
      color: $blue-medium;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 0.4em 0;
      }

      a {
        &.current-item {

        }
      }
    }

    label {
      font-size: 1.6em;
    }
  }

  .cdc-icon {
    margin: 0 15px 0 0;
    font-size: 3.2em;
  }

  .supermenu-carousel-controls {
    span {
      display: inline-block;
      padding: 10px;
      margin: 0 0 0 5px;
      cursor: pointer;
      color: $primary;
      transition: 0.25s;

      &:hover {
        color: $secondary;
      }
    }
  }
}

#location-search-container {
	margin-bottom: 10em;
}

#location-search-instruction {
	p {
		font-size: 1.4em;
		text-indent: -0.8em;
	}
}

#ag-cases {
  a {
    color: $text-muted;
  }
}

// PAGE TOUR

@import '../../../h7-parent/resources/bower_components/pe-page-tour/page-tour';

.page-tour-content {
  &:before {
    content: 'How to use this page';
    display: block;
    margin-bottom: 0.8em;
    font-size: 1.3em;
    color: $secondary;
    text-transform: uppercase;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 0.8em;
  }
}

.page-tour {
  .btn {
    text-transform: uppercase;
  }
}

// SOCIAL WIDGETS

@import '../../../h7-parent/resources/bower_components/pe-social-widget/social-widget';

//
// VENDOR
//

// listnav

@import '../../../h7-parent/resources/bower_components/pe-listnav/scss/listnav';

.ln-letters {
  .ln-last {
    border-right: none;
  }
}

// leaflet

@import '../../../h7-parent/resources/bower_components/leaflet/dist/leaflet.css';
@import 'leaflet-geoman.css';

.leaflet-container {
  font-family: $font-family-base;
}

.marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
		background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
		background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
		background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
		background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
		background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
		background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
		background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
		background-color: rgb(241, 128, 23);
}

.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
}
.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
		line-height: 30px;
}

// ion range slider

@import '../../../h7-parent/resources/bower_components/ion.rangeSlider/css/ion.rangeSlider.min.css';

.irs {
  font-family: $font-family-base;
}

.irs--round {
  .irs-bar {
    background-color: $primary;
  }

  .irs-handle {
    border-collapse: $blue-light1;
  }

}


// select2

@import '../../../h7-parent/resources/bower_components/select2/src/scss/core';
@import '../../../h7-parent/resources/bower_components/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';

.select2-container--default {
  .select2-results__group {
    font-weight: inherit;
    font-size: 0.8em;
    @include all-caps;
    opacity: 0.8;
  }
}

.select2-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: 0 5px 15px transparentize($black, 0.7);

  &.big-menu-dropdown {
    margin-top: 16px;
    @include bubble(top, 10px, #fff);

    &.select2-dropdown--above {
      margin-top: 0;

      &:before {
        display: none;
      }
    }
  }
}

.select2-selection {
  &.big-menu {
    height: auto !important;
    min-height: 0 !important;

    .select2-selection__rendered {
      transition: 0.4s;
      font-size: 1em;
    }

    .select2-selection__arrow {
      height: 100%;
      width: 40px;
    }

    &.btn-outline-primary {
      border-color: $primary;


      .select2-selection__rendered {
        color: $primary;
      }

      .select2-selection__arrow {
        b {
          border-top-color: $primary;
        }
      }

      &:hover {
        background-color: $primary;

        .select2-selection__rendered {
          color: $white;
        }

        .select2-selection__arrow {
          b {
            border-top-color: $white;
          }
        }
      }
    }

    .select2-search--inline {
      .select2-search__field {
        min-width: 200px;
      }
    }

  }
}

.select2-container--open {
  .select2-selection {
    &.big-menu {
      &.btn-outline-primary {
        background-color: $primary;

        .select2-selection__rendered {
          color: $white;
        }

        .select2-selection__arrow {
          b {
            border-bottom-color: $white;
          }
        }
      }
    }
  }
}

// UI TABS

.tabs-nav {
  .nav-link {
    cursor: pointer;
  }

  .ui-state-active {
    position: relative;
    color: $primary;
    @include bubble(bottom, 10px, $primary);

    .nav-link {
      color: $primary !important;
    }

    &:before {
      top: calc(100% + 5px);
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $primary;
      z-index: 10;
    }
  }
}

// DATETIME PICKER
.bootstrap-datetimepicker-widget {
	font-size: 10px;

  &.dropdown-menu {
    width: auto !important;
  }
}

//
// FRENCH
//

.lang-fr {
  #header-primary {
    .primary-nav {
      font-size: 1.1em;
    }

    .secondary-nav {
      font-size: 0.9em;
    }
  }

  #main-footer {
    .footer-menu {
      font-size: 1.2em;
      white-space: nowrap;
    }
  }

  .page-tour-content {
    &:before {
      content: 'Comment utiliser cette page';
    }
  }
}

//
// HACKS
//

.page-id-1712 {
  .select2-results__options {
    [id*="frost_days"],
    [id*="ice_days"] {
      display: none;
    }
  }
}

.page-id-2268 {
  .select2-results__options {
    [id*="frost_days"],
    [id*="ice_days"] {
      display: none;
    }
  }
}

//
// RESPONSIVE
//

@import 'responsive';
