.filter-item {
	&.selected {
		color: $primary;
	}
}

.fw-query-pagination-numbers {
	display: flex;
	align-items: center;
	justify-content: center;
	
	span {
		margin: 0 0.125rem;
	}
}

.fw-query-filter-reset {
	cursor: pointer;
	display: none;
}